

.body-not {
  font-family: 'Montserrat';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(56, 56, 56);
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper h1 {
  font-size: 3rem;
}

.wrapper .message {
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
  width: 60%;
}

.btn {
  background: black;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 12px;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.btn:hover {
  background: purple;
  color: white;
}

.copyRights {
  margin-top: 60px;
}

.body-not img{
  max-width: 600px;
  max-height: 800px;
}

